.front-section {
    margin: 0 auto;
    text-align: center;
}

.calculator-container {
    margin: 0 auto;
    text-align: center;
}

.calculator {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.calculator td, .calculator th {
    border: 1px solid #999;
    padding: 0.25em;
    font-size: 80%;
}

.credits {
    margin: 4em auto;
    margin-top: 4em;
    text-align: center;
    max-width: 800px;
}

.credits a {
    color: black;
    font-weight: bold;
    text-decoration: none;

    transition: 0.3s;
}
.credits a:hover {
    font-size: 120%;
}
